body {
  text-align:center;
  background-color: #cdab7e;
}

/*.label {
  font-weight: bold;
}*/

.create-update-form {
  display: block;
  margin: 5px;
  padding: 5px;
}

#input {
	height:40px;
	width:200px;
}

#pic {
  margin-top:20px;
  width:200px;
}

li.well {
  padding:0;
  text-align: center;
  height:25px;
  margin-bottom:0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

.devourForm {
  width:80px;
  float:left;
  margin:10px;
}

#burger {
  color:#8f401a;
  background-color:#f9daa7;
  float:left;
  padding:10px;
  width:75%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}



